<div class="content flex-column fill-parent">

    <h1>
        BagIt
    </h1>

    <p>
        BagIt is a simple shopping app that helps you save time and money.
    </p>

    <div class="flex-item-dynamic"></div>

    <div class="flex-row">
        <div class="flex-item-static">
            <button type="button" class="btn btn-default" (click)="onSignUp()">
                Sign Up
            </button>
        </div>
        <div class="flex-item-dynamic"></div>
        <div class="flex-item-static">
            <button type="button" class="btn btn-primary" (click)="onLogin()">
                Login
            </button>
        </div>

    </div>

    <div class="flex-item-static">
        <button type="button" class="btn btn-default" (click)="onLogout()">
            Logout
        </button>
    </div>

    <div class="flex-item-dynamic"></div>

</div>






