<div class="content flex-column fill-parent">

    <h1>
        BagIt
    </h1>

    <p>
        BagIt is a simple shopping app that helps you save time and money.
    </p>

    <div class="flex-item-dynamic"></div>

    <button type="button" class="btn btn-primary" (click)="onLogin()">
        Login
    </button>

    <div class="flex-item-dynamic"></div>

    <button type="button" class="btn btn-default" (click)="onLogout()">
        Logout
    </button>

    <div class="flex-item-dynamic"></div>

    <hr>

    <router-outlet></router-outlet>

</div>






